In [11]:
import pandas as pd

df = pd.read_csv("../data/raw/WPP2024_Demographic_Indicators_Medium.csv")
list(df.columns)

/var/folders/gc/2bl359j51qqgvfj_8m6ty1fw0000gn/T/ipykernel_1276/3717148473.py:3: DtypeWarning: Columns (2,3,4,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../data/raw/WPP2024_Demographic_Indicators_Medium.csv")

['SortOrder',
 'LocID',
 'Notes',
 'ISO3_code',
 'ISO2_code',
 'SDMX_code',
 'LocTypeID',
 'LocTypeName',
 'ParentID',
 'Location',
 'VarID',
 'Variant',
 'Time',
 'TPopulation1Jan',
 'TPopulation1July',
 'TPopulationMale1July',
 'TPopulationFemale1July',
 'PopDensity',
 'PopSexRatio',
 'MedianAgePop',
 'NatChange',
 'NatChangeRT',
 'PopChange',
 'PopGrowthRate',
 'DoublingTime',
 'Births',
 'Births1519',
 'CBR',
 'TFR',
 'NRR',
 'MAC',
 'SRB',
 'Deaths',
 'DeathsMale',
 'DeathsFemale',
 'CDR',
 'LEx',
 'LExMale',
 'LExFemale',
 'LE15',
 'LE15Male',
 'LE15Female',
 'LE65',
 'LE65Male',
 'LE65Female',
 'LE80',
 'LE80Male',
 'LE80Female',
 'InfantDeaths',
 'IMR',
 'LBsurvivingAge1',
 'Under5Deaths',
 'Q5',
 'Q0040',
 'Q0040Male',
 'Q0040Female',
 'Q0060',
 'Q0060Male',
 'Q0060Female',
 'Q1550',
 'Q1550Male',
 'Q1550Female',
 'Q1560',
 'Q1560Male',
 'Q1560Female',
 'NetMigrations',
 'CNMR']

In [12]:
# filtering the data so we have only data from Bangladesh . 
bd = df[df["Location"] == "Bangladesh"].copy()

bd.head()

,SortOrder,LocID,Notes,ISO3_code,ISO2_code,SDMX_code,LocTypeID,LocTypeName,ParentID,Location,...,Q0060Male,Q0060Female,Q1550,Q1550Male,Q1550Female,Q1560,Q1560Male,Q1560Female,NetMigrations,CNMR
56544,144.0,50,NaN,BGD,BD,50.0,4.0,Country/Area,5501.0,Bangladesh,...,628.5175,636.2870,242.1431,222.4898,263.1598,393.8563,385.2630,402.8516,8.310,0.202
56545,144.0,50,NaN,BGD,BD,50.0,4.0,Country/Area,5501.0,Bangladesh,...,617.8055,628.8580,238.6667,218.2617,260.5000,388.5971,378.0490,399.7460,13.639,0.325
56546,144.0,50,NaN,BGD,BD,50.0,4.0,Country/Area,5501.0,Bangladesh,...,607.5838,621.4841,235.5991,214.6421,258.0324,383.8048,371.6557,396.7121,-2.897,-0.068
56547,144.0,50,NaN,BGD,BD,50.0,4.0,Country/Area,5501.0,Bangladesh,...,599.4759,615.7679,234.3990,213.0609,257.2459,381.2057,367.8218,395.4616,-45.502,-1.039
56548,144.0,50,NaN,BGD,BD,50.0,4.0,Country/Area,5501.0,Bangladesh,...,585.0563,604.0998,227.0698,205.1034,250.6074,371.4587,356.4973,387.4358,-30.537,-0.683

In [19]:
# filtered out the required columns 
# as i will be working with population related data only 
keep_cols = [
    "Location", "Variant", "Time",
    "TPopulation1July", "PopDensity", "MedianAgePop",
    "PopGrowthRate", "TFR", "NatChange", "NetMigrations"
]

bd_pop = bd[keep_cols].copy()

bd_pop.tail()

,Location,Variant,Time,TPopulation1July,PopDensity,MedianAgePop,PopGrowthRate,TFR,NatChange,NetMigrations
56691,Bangladesh,Medium,2097,211687.522,1626.2389,48.2494,-0.471,1.7251,-749.881,-248.070
56692,Bangladesh,Medium,2098,210676.530,1618.4722,48.3908,-0.486,1.7266,-769.902,-254.135
56693,Bangladesh,Medium,2099,209642.395,1610.5277,48.5327,-0.498,1.7239,-792.995,-251.246
56694,Bangladesh,Medium,2100,208596.516,1602.4930,48.6738,-0.502,1.7226,-810.548,-236.966
56695,Bangladesh,Medium,2101,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
# removing projection from the data 
bd_pop_clean = bd_pop[ (bd_pop["Time"] >= 2000) & (bd_pop["Time"] <= 2024) ].copy()

bd_pop_clean.shape

(25, 10)

In [33]:
# saving the filtered data to the processed folder 
bd_pop_clean.to_csv(
    "../data/processed/bangladesh_population_clean.csv",
    index=False
)