# Poverty Indicators in Bangladesh

## Data Source
World Bank – World Development Indicators (WDI)

## Methodology
- Selected poverty headcount indicators
- Filtered to Bangladesh
- Used recent historical years only

In [18]:
import pandas as pd
from pathlib import Path

DATA_PATH = Path("../data/raw/ad695f8c-9b6d-4f65-b85c-20be7331858c_Data.csv")

poverty = pd.read_csv(DATA_PATH)
poverty.head()

,Country Name,Country Code,Series Name,Series Code,2000 [YR2000],2001 [YR2001],2002 [YR2002],2003 [YR2003],2004 [YR2004],2005 [YR2005],...,2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022],2023 [YR2023],2024 [YR2024]
0,Bangladesh,BGD,Poverty headcount ratio at societal poverty li...,SI.POV.SOPO,41.4,..,..,..,..,36.6,...,..,31.2,..,..,..,..,..,23.1,..,..
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Data from database: World Development Indicators,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
poverty_clean = poverty.iloc[[0]].copy()
poverty_clean

,Country Name,Country Code,Series Name,Series Code,2000 [YR2000],2001 [YR2001],2002 [YR2002],2003 [YR2003],2004 [YR2004],2005 [YR2005],...,2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022],2023 [YR2023],2024 [YR2024]
0,Bangladesh,BGD,Poverty headcount ratio at societal poverty li...,SI.POV.SOPO,41.4,..,..,..,..,36.6,...,..,31.2,..,..,..,..,..,23.1,..,..

In [20]:
poverty_clean = poverty_clean.drop(
    columns=["Country Code", "Series Code"]
)
poverty_clean

,Country Name,Series Name,2000 [YR2000],2001 [YR2001],2002 [YR2002],2003 [YR2003],2004 [YR2004],2005 [YR2005],2006 [YR2006],2007 [YR2007],...,2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022],2023 [YR2023],2024 [YR2024]
0,Bangladesh,Poverty headcount ratio at societal poverty li...,41.4,..,..,..,..,36.6,..,..,...,..,31.2,..,..,..,..,..,23.1,..,..

### Converting wide to long format

In [21]:
poverty_long = poverty_clean.melt(
    id_vars=["Country Name", "Series Name"],
    var_name="Year",
    value_name="PovertyRate"
)
poverty_long

,Country Name,Series Name,Year,PovertyRate
0,Bangladesh,Poverty headcount ratio at societal poverty li...,2000 [YR2000],41.4
1,Bangladesh,Poverty headcount ratio at societal poverty li...,2001 [YR2001],..
2,Bangladesh,Poverty headcount ratio at societal poverty li...,2002 [YR2002],..
3,Bangladesh,Poverty headcount ratio at societal poverty li...,2003 [YR2003],..
4,Bangladesh,Poverty headcount ratio at societal poverty li...,2004 [YR2004],..
5,Bangladesh,Poverty headcount ratio at societal poverty li...,2005 [YR2005],36.6
6,Bangladesh,Poverty headcount ratio at societal poverty li...,2006 [YR2006],..
7,Bangladesh,Poverty headcount ratio at societal poverty li...,2007 [YR2007],..
8,Bangladesh,Poverty headcount ratio at societal poverty li...,2008 [YR2008],..
9,Bangladesh,Poverty headcount ratio at societal poverty li...,2009 [YR2009],..
10,Bangladesh,Poverty headcount ratio at societal poverty li...,2010 [YR2010],33.3
11,Bangladesh,Poverty headcount ratio at societal poverty li...,2011 [YR2011],..
12,Bangladesh,Poverty headcount ratio at societal poverty li...,2012 [YR2012],..
13,Bangladesh,Poverty headcount ratio at societal poverty li...,2013 [YR2013],..
14,Bangladesh,Poverty headcount ratio at societal poverty li...,2014 [YR2014],..
15,Bangladesh,Poverty headcount ratio at societal poverty li...,2015 [YR2015],..
16,Bangladesh,Poverty headcount ratio at societal poverty li...,2016 [YR2016],31.2
17,Bangladesh,Poverty headcount ratio at societal poverty li...,2017 [YR2017],..
18,Bangladesh,Poverty headcount ratio at societal poverty li...,2018 [YR2018],..
19,Bangladesh,Poverty headcount ratio at societal poverty li...,2019 [YR2019],..
20,Bangladesh,Poverty headcount ratio at societal poverty li...,2020 [YR2020],..
21,Bangladesh,Poverty headcount ratio at societal poverty li...,2021 [YR2021],..
22,Bangladesh,Poverty headcount ratio at societal poverty li...,2022 [YR2022],23.1
23,Bangladesh,Poverty headcount ratio at societal poverty li...,2023 [YR2023],..
24,Bangladesh,Poverty headcount ratio at societal poverty li...,2024 [YR2024],..

In [22]:
# checking the type of value in year col
poverty_long["Year"].dtype

dtype('O')

In [24]:
import numpy as np
poverty_long["PovertyRate"] = poverty_long["PovertyRate"].replace("..", np.nan)
poverty_long["PovertyRate"] = poverty_long["PovertyRate"].astype(float)

/var/folders/gc/2bl359j51qqgvfj_8m6ty1fw0000gn/T/ipykernel_4253/4266161724.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  poverty_long["PovertyRate"] = poverty_long["PovertyRate"].replace("..", np.nan)

## Dropping missing years

In [25]:
poverty_long = poverty_long.dropna(subset=["PovertyRate"])
poverty_long

,Country Name,Series Name,Year,PovertyRate
0,Bangladesh,Poverty headcount ratio at societal poverty li...,2000 [YR2000],41.4
5,Bangladesh,Poverty headcount ratio at societal poverty li...,2005 [YR2005],36.6
10,Bangladesh,Poverty headcount ratio at societal poverty li...,2010 [YR2010],33.3
16,Bangladesh,Poverty headcount ratio at societal poverty li...,2016 [YR2016],31.2
22,Bangladesh,Poverty headcount ratio at societal poverty li...,2022 [YR2022],23.1

# Going fix the Year col now

In [29]:
poverty_long = poverty_long.copy()


poverty_long["Year"] = (
    poverty_long["Year"]
    .astype(str)
    .str.extract(r"(\d{4})")[0]
    .astype(int)
)

poverty_long

,Country Name,Series Name,Year,PovertyRate
0,Bangladesh,Poverty headcount ratio at societal poverty li...,2000,41.4
5,Bangladesh,Poverty headcount ratio at societal poverty li...,2005,36.6
10,Bangladesh,Poverty headcount ratio at societal poverty li...,2010,33.3
16,Bangladesh,Poverty headcount ratio at societal poverty li...,2016,31.2
22,Bangladesh,Poverty headcount ratio at societal poverty li...,2022,23.1

### Exporting the cleaned data to my processed folder

In [ ]:
poverty_long.to_csv(
    "../data/processed/bangladesh_poverty_clean.csv",
    index=False
)